<%
  var user = {
    ownedStickers: [1,2,3,5,6,7,8,9,10,11,12,13,14,15]
};
%>

<div class="row">
<div id="my-stickers" class="col-md-4">
  <h4><small>My Stickers</small></h4>
  <ul id="stickers-list" >
  <% myStickers = user.ownedStickers %>
  <% for(var i=0; i < myStickers.length; i++) { %>
    <% var sticker = album.findStickerByNumber(myStickers[i]); %>
    <li class="stickers-list-item">
      <div class="sticker-thumb">
      <img src="<%= sticker.image %>" />
      </div>
      <%= sticker.number %>
    </li>
  <% } %>
  </ul>
</div>


<div id="current-album"  class="col-md-8">
  <% for(var i=0; i < album.pages.length; i++) { %>
    <% var page = album.pages[i] %>
    <div id="page-<%= page.number %>" class="page" style="background-image: url(<%= page.image %>); height: 100%">
      <% for(var j=0; j < page.stickers.length; j++) { %>
        <% var sticker = page.stickers[j] %>
        <% if(user.ownedStickers.indexOf(sticker.number) != -1) { %>
          <img id="sticker-<%= sticker.number %>" class="sticker" src="<%= sticker.image %>" style="margin-left: <%= sticker.x + 'px' %>; margin-top: <%= sticker.y + 'px' %>; height: <%= sticker.height + 'px' %>; width: <%= sticker.width + 'px' %>; position: absolute" />
        <% } else { %>
          <div class="sticker-placeholder" style="margin-left: <%= sticker.x + 'px' %>; margin-top: <%= sticker.y + 'px' %>; height: <%= sticker.height + 'px' %>; width: <%= sticker.width + 'px' %>; position: absolute" >
            <h3><%= sticker.number %></h3>
</div>
        <% } %>
        <% if((i % 2) == 0) { %> <div class="overlay-left-page"></div>
        <% } else { %> <div class="overlay-right-page"></div> <% } %>
      <% } %>
    </div>
  <% } %>
</div>
</div>

<script>
  $(function() {
    $('#current-album').booklet({
      width: <%= album.width %>,
      height: <%= album.height %>,
      keyboard: true,
      pagePadding: 0
    });
  });
</script>
