<%
  console.log("Fetching user: " +user.gluedStickers);
%>

<input type="hidden" id="current-user-id" value="<%= user._id %>" />

<div class="row">
  <div id="my-stickers" class="col-md-4">
    <%- partial('my_stickers.ejs', {locals: {album: album, user: user}}) %>
  </div>

  <div id="current-album"  class="col-md-8">
    <%- partial('album.ejs', {locals: {album: album, user: user}}) %>
  </div>
</div>

<script>
  $(function() {
    $('#current-album').booklet({
      width: <%= album.width %>,
      height: <%= album.height %>,
      keyboard: true,
      pagePadding: 0
    });

    var gluedStickers = [<%= user.gluedStickers %>];
    var stickers = [<%= user.stickers %>];
    var albumSize = <%= album.getAllStickers().length %>;

    $('.glue-sticker').click(function(){
      var row = $(this).closest('li');
      var stickerNumber = row.find('input:hidden').val()
      if($('#sticker-' + stickerNumber).hasClass("hide")) {
        $('#sticker-' + stickerNumber).removeClass("hide");
        $('#placeholder-' + stickerNumber).fadeOut(300);
        row.fadeOut(1000);
        socket.emit('userGluedSticker', { userId: $('#current-user-id').val(), stickerNumber: stickerNumber });
        gluedStickers.push(stickerNumber);
        var i = stickers.indexOf(stickerNumber);
        if(i != -1) { stickers.splice(i, 1); }
        updateProgress();
      }else{
        alert("You've already glued this sticker, exchange it with other users!");
      }
      return false;
      });

    function updateProgress(){
      var percentage = (gluedStickers.length * 100 / albumSize).toFixed(2)
      $('.progress').text(percentage + "% Completed -");
    }
    updateProgress();
  });
</script>

<script>
  $(function() {
    setInterval(function() {
      socket.emit('itsTimeToSendSticker', { userId: $('#current-user-id').val() });
    }, 100000);
  });
</script>
