<%

%>
<div class="row">
<div id="my-stickers" class="col-md-4">
  <h4><small>My Stickers</small></h4>
  <ul id="stickers-list" >
  <% myStickers = user.stickers %>
  <% for(var i=0; i < myStickers.length; i++) { %>
    <% var sticker = album.findStickerByNumber(myStickers[i]); %>
    <li class="stickers-list-item">
      <div class="sticker-thumb">
      <img src="<%= sticker.image %>" />
      </div>
      <%= sticker.number %> <small>by <%= sticker.author %></small>
<br />
      <input type="hidden" name="sticker-number" value="<%= sticker.number %>" />
      <a href="#" class="glue-sticker btn btn-warning btn-xs">Glue</a>
      <a href="#" class="exchange-sticker btn btn-primary btn-xs">Exchange</a>
    </li>
  <% } %>
  </ul>
</div>


<div id="current-album"  class="col-md-8">
  <% for(var i=0; i < album.pages.length; i++) { %>
    <% var page = album.pages[i] %>
    <div id="page-<%= page.number %>" class="page" style="background-image: url(<%= page.image %>); height: 100%">
      <% for(var j=0; j < page.stickers.length; j++) { %>
        <% var sticker = page.stickers[j] %>
        <% var hasSticker = false; %>
        <% var stickerClass = "hide" %>
        <% var placeholderStickerClass = "" %>
        <% if(user.gluedStickers.indexOf(sticker.number) != -1) { hasSticker = true;  stickerClass="", placeholderStickerClass = "hide" } %>
        <img id="sticker-<%= sticker.number %>" class="sticker <%= stickerClass %>" src="<%= sticker.image %>" style="margin-left: <%= sticker.x + 'px' %>; margin-top: <%= sticker.y + 'px' %>; height: <%= sticker.height + 'px' %>; width: <%= sticker.width + 'px' %>; position: absolute" />
        <div id="placeholder-<%= sticker.number %>" class="sticker-placeholder <%= placeholderStickerClass %>" style="margin-left: <%= sticker.x + 'px' %>; margin-top: <%= sticker.y + 'px' %>; height: <%= sticker.height + 'px' %>; width: <%= sticker.width + 'px' %>; position: absolute" >
            <h3><%= sticker.number %></h3>
         </div>
        <% if((i % 2) == 0) { %> <div class="overlay-left-page"></div>
        <% } else { %> <div class="overlay-right-page"></div> <% } %>
      <% } %>
    </div>
  <% } %>
</div>
</div>

<script>
  $(function() {
    $('#current-album').booklet({
      width: <%= album.width %>,
      height: <%= album.height %>,
      keyboard: true,
      pagePadding: 0
    });

    $('.glue-sticker').click(function(){
      var row = $(this).closest('li');
      var stickerNumber = row.find('input:hidden').val()
      if($('#sticker-' + stickerNumber).hasClass("hide")) {
        $('#sticker-' + stickerNumber).removeClass("hide");
        $('#placeholder-' + stickerNumber).fadeOut(300);
        row.fadeOut(1000);
      }else{
        alert("You've already glued this sticker, exchange it with other users!");
      }
      return false; 
      });
    });
</script>
