<ul id="mainTabs" class="nav nav-tabs">
  <li><a href="#my" data-toggle="tab">My Stickers</a></li>
  <li><a href="#people" data-toggle="tab">People</a></li>
  <li><a href="#notifications" data-toggle="tab">Notifications</a></li>
  <a href="#" onclick="showAlbum('<%= user._id %>','<%= user.username %>')" class="exchange-sticker btn btn-primary ajax-my-album">My Album</a>
</ul>

<div class="tab-content">
   <div class="tab-pane"id="notifications">
     <ul>
       <li class="trade-item skeleton hide">
         <strong>Trade your: </strong>
          <div class="notification-thumb">
            <img class="trade-what-image"></img>
          </div> 
          <span class="trade-what-number"></span> by <span class="trade-what-author"></span>
         
          <input type="hidden" class="offer-id" value="" />
         <strong>With:</strong>
         <div class="notification-thumb">
         <img class="trade-for-image"></img>
         </div>
         <span class="trade-for-number"></span> by <span class="trade-for-author"></span>
         <a href="#" class="btn btn-primary accept-trade" onclick="">Yep</a>
         <a href="#" class="btn btn-danger destroy-notification" >Nope</a>
       </li>
     </ul>
   </div>


  <div class="tab-pane active" id="my">
    <ul id="stickers-list" >
      <% myStickers = user.stickers %>
      <% for(var i=0; i < myStickers.length; i++) { %>
        <% var sticker = album.findStickerByNumber(myStickers[i]); %>
        <li class="stickers-list-item">
          <div class="sticker-thumb">
          <img src="<%= sticker.image %>" />
          </div>
          <span class="sticker-capital-number"><%= sticker.number %></span> <small>by <%= sticker.author %></small>
          <br />
          <input type="hidden" name="sticker-number" value="<%= sticker.number %>" />
          <a href="#" class="glue-sticker btn btn-warning btn-xs">Glue</a>
          <a href="#" class="exchange-sticker btn btn-primary btn-xs">Trade</a>
        </li>
      <% } %>
      <% if(myStickers.length == 0) { %>
        <li class="stickers-list-item skeleton hide">
          <div class="sticker-thumb">
          <img src="#" />
          </div>
          <span class="sticker-capital-number"></span> <small></small>
          <br />
          <input type="hidden" name="sticker-number" value="" />
          <a href="#" class="glue-sticker btn btn-warning btn-xs">Glue</a>
          <a href="#" class="exchange-sticker btn btn-primary btn-xs">Exchange</a>
        </li>
      <% } %>
    </ul>
  </div>

  <div class="tab-pane" id="people">
    <ul id="people-list" >
    </ul>
  </div>
</div>


<script>
 function showAlbum(userId, username) {

    $("#current-album").empty();
    $.get( "/albums/" + userId, function( data ) {
        var album = $(data);
        $("#current-album").html( album.html() );
        $('#current-album').booklet({
          width: 800,
          height: 600,
          keyboard: true,
          pagePadding: 0
        });
        $(".album-owner").text(username +"'s album");
    });
  }

  function receivedSticker(sticker) {
    var item = $(".stickers-list-item").first().clone();
    item.find("img").attr("src", sticker.image);
    item.find("small").html("by "+ sticker.author);
    item.find("span").html(sticker.number);
    item.find("input").val(sticker.number);
    item.removeClass("hide");
    $("#stickers-list").append(item);
  }
    function acceptTrade(offerId, xSticker, xId, ySticker, yId) {
      var data = {offerId: offerId, xStickerNumber: xSticker, xId: xId, yStickerNumber: ySticker, yId: yId};
      socket.emit("acceptedTrade", data);
    }


  $(function() {
    $('#mainTabs a:first').tab('show');

    function loadPeople(people){
      var selfId = "<%= user._id %>";
      $("#people-list").empty();
      if(people.length == 0){ $("#people-list").append("There is no user online right now"); }
      for(var i=0; i<people.length; i++){
        var person = people[i];
        if(person.id != selfId) {
          var args = "'" + person.id + "','" + person.username + "'";
          var func  =  "showAlbum(" +args+ ")";
          $("#people-list").append("<li class='person'>" + person.username + "<br/><a class='btn btn-primary btn-xs' href='#' onclick="+func+">Show Album</a></li>");
        }
      }
    }
    socket.emit("getAllUsers");
    socket.on('allUsers', function (data) {
      loadPeople(data);
    });

    socket.on("receivedNewSticker", function (sticker) {
      receivedSticker(sticker);
    });
    
    function startTrade(stickerNumber) {
      socket.emit("startTrade", {userId: '<%= user._id %>', stickerNumber: stickerNumber});
    }

    $('#notifications').delegate("a.destroy-notification", "click" , function(){
      $(this).closest('li').fadeOut(1000).remove();      
    });

    $('#stickers-list').delegate("a.exchange-sticker", "click" , function(){
      var row = $(this).closest('li');
      var stickerNumber = row.find('input:hidden').val();
      startTrade(stickerNumber);
    });

    socket.on("NoTraderWasFound", function (stickerNumber) {
      alert("No collector was found online with something interesting for you =(, try again later!");
    });
 
    socket.on("TradeExpired", function (stickerNumber) {
      alert("Offer expired");
    });
 
    socket.on("TradeFinished", function (data) {
      alert("Add " + data.add + " - " + " Remove " + data.remove); 
    });

    socket.on("TradeRequest", function (data) {
      var selfId = "<%= user._id %>";
      var notification = $("#notifications ul li.skeleton").clone();
      notification.find(".trade-what-number").text(data.suggestedSticker.number);
      notification.find(".trade-what-image").attr('src', data.suggestedSticker.image);
      notification.find(".trade-what-image").attr('width', '100px');
      notification.find(".trade-what-author").text(data.suggestedSticker.author);
      notification.find(".trade-for-number").text(data.offeredSticker.number);
      notification.find(".trade-for-image").attr('src', data.offeredSticker.image);
      notification.find(".trade-for-image").attr('width', '100px');
      notification.find(".trade-for-author").text( data.offeredSticker.author);
      var sendParams = "acceptTrade('"+data.offerId+"',"+data.offeredSticker.number+",'"+ selfId +"',"+data.suggestedSticker.number+",'"+data.requesterId+"')";
      notification.find(".accept-trade").attr("onclick", sendParams);
      notification.removeClass("hide");
      $("#notifications ul").append(notification);    
    });

    socket.on("tryTradeSticker", function (currentUser, usersToTrade, stickerNumber) {
      //var message = "The user " + currentUser + " wants to trade sticker number " + stickerNumber + " for some sticker that is not glued on yout album. Let's trade?";

      //var trade = confirm(message);

      //if(trade == true){
      //  //alert("Trade accepted");
      //}else{
      //  //alert("The user denied the trade");
      //}
    });

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
       if($('.nav-tabs .active').text() == "Notifications"){
        $("#current-album").hide();
        $(".album-owner").hide();
        }else{
        $("#current-album").show();
        $(".album-owner").show();

      }
    });

  });

</script>
