<ul id="mainTabs" class="nav nav-tabs">
  <li><a href="#my" data-toggle="tab">My Stickers</a></li>
  <li><a href="#people" data-toggle="tab">People</a></li>

  <a href="#" onclick="showAlbum('<%= user._id %>','<%= user.username %>')" class="exchange-sticker btn btn-primary ajax-my-album">My Album</a>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="my">
    <ul id="stickers-list" >
      <% myStickers = user.stickers %>
      <% for(var i=0; i < myStickers.length; i++) { %>
        <% var sticker = album.findStickerByNumber(myStickers[i]); %>
        <li class="stickers-list-item">
          <div class="sticker-thumb">
          <img src="<%= sticker.image %>" />
          </div>
          <span class="sticker-capital-number"><%= sticker.number %></span> <small>by <%= sticker.author %></small>
          <br />
          <input type="hidden" name="sticker-number" value="<%= sticker.number %>" />
          <a href="#" class="glue-sticker btn btn-warning btn-xs">Glue</a>
          <a href="#" class="exchange-sticker btn btn-primary btn-xs">Trade</a>
        </li>
      <% } %>
      <% if(myStickers.length == 0) { %>
        <li class="stickers-list-item skeleton hide">
          <div class="sticker-thumb">
          <img src="#" />
          </div>
          <span class="sticker-capital-number"></span> <small></small>
          <br />
          <input type="hidden" name="sticker-number" value="" />
          <a href="#" class="glue-sticker btn btn-warning btn-xs">Glue</a>
          <a href="#" class="exchange-sticker btn btn-primary btn-xs">Exchange</a>
        </li>
      <% } %>
    </ul>
  </div>

  <div class="tab-pane" id="people">
    <ul id="people-list" >
    </ul>
  </div>
</div>


<script>
  function showAlbum(userId, username) {
    $("#current-album").empty();
    $.get( "/albums/" + userId, function( data ) {
        var album = $(data);
        $("#current-album").html( album.html() );
        $('#current-album').booklet({
          width: 800,
          height: 600,
          keyboard: true,
          pagePadding: 0
        });
        $(".album-owner").text(username +"'s album");
    });
  }

  function receivedSticker(sticker) {
    var item = $(".stickers-list-item").first().clone();
    item.find("img").attr("src", sticker.image);
    item.find("small").html("by "+ sticker.author);
    item.find("span").html(sticker.number);
    item.find("input").val(sticker.number);
    item.removeClass("hide");
    $("#stickers-list").append(item);
  }

  $(function() {
    $('#mainTabs a:first').tab('show');

    function loadPeople(people){
      var selfId = "<%= user._id %>";
      $("#people-list").empty();
      if(people.length == 0){ $("#people-list").append("There is no user online right now"); }
      for(var i=0; i<people.length; i++){
        var person = people[i];
        if(person.id != selfId) {
          var args = "'" + person.id + "','" + person.username + "'";
          var func  =  "showAlbum(" +args+ ")";
          $("#people-list").append("<li class='person'>" + person.username + "<br/><a class='btn btn-primary btn-xs' href='#' onclick="+func+">Show Album</a></li>");
        }
      }
    }
    socket.emit("getAllUsers");
    socket.on('allUsers', function (data) {
      loadPeople(data);
    });

    socket.on("receivedNewSticker", function (sticker) {
      receivedSticker(sticker);
    });

    socket.on("tryTradeSticker", function (currentUser, usersToTrade, stickerNumber) {
      var message = "The user " + currentUser + " wants to trade sticker number " + stickerNumber + " for some sticker that is not glued on yout album. Let's trade?";

      var trade = confirm(message);

      if(trade == true){
        alert("Trade accepted");
      }else{
        alert("The user denied the trade");
      }
    });
  });
</script>
